@model LucianaOrganicos.Models.MarketModel
@{
    ViewBag.Title = "Preparação Feira";
}

@section scripts{
    <script src="~/Scripts/market.js?v=0" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
}

<h2>Preparação de Produtos</h2>
<div class="container">
    <form method="post" name="marketform">
        <div class="row">
            <div class="col-md-2">
                <label for="txtid">Código</label>
                <input id="txtid" type="number" readonly="readonly" />
            </div>
            <div class="col-md-2">
                <label for="txtdate">Data</label>
                <input id="txtdate" type="date" />
            </div>
            <div class="col-md-2 table-bordered" >
                <label for="txtmarket">Feira</label>
                <input id="txtmarket" type="text" maxlength="100" list="lstMarket" spellcheck="false"/>
                <datalist id="lstMarket">
                    <option label="Ribeirão Preto" value="Ribeirão Preto"></option>
                    <option label="Jaboticabal" value="Jaboticabal"></option>
                    <option label="Fiusa Center" value="Fiusa Center"></option>
                    <option label="Delivery" value="Delivery"></option>


                </datalist>
            </div>
        </div>
        <div class="row btn-toolbar">
            <div class="col-sm-4 ">
                <button id="btnsave" type="submit" class="btn-success">Salvar</button>
                <button id="btnclear" type="button" class="btn-info">Salvar</button>
                <button id="btndelete" type="button" class="btn-danger">Salvar</button>
            </div>
        </div>
    </form>
</div>

